body {
  margin: 0;
  padding: 20px;
  background-color: #fafafa;
  color: #1f1f1f;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  text-align: left;
  box-sizing: border-box;
  word-wrap: break-word;
}
